$color-separadores: #aeabb1;
$color-textoPrimario: #0e0e0c;
$color-textoSecundario: #525252;
$color-fondos: #dfdfdf;
$color-fondoPublicacion: #ffffff;
$color-fondoSlide: #75757580;
$color-textoSlide: #ffffff;
$color-bordes: #000000;
$color-boton: #4caf50;